<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.egcoders.technologysolutions.netclub"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/MyAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".RegisterFirstPageActivity" />
        <activity android:name=".RegisterSecondPageActivity" />
        <activity android:name=".CategoriesActivity" />
        <activity android:name=".MentorDatesActivity" />
        <activity android:name=".AddMentorActivity" />
        <activity android:name=".MoreDetailsMentorActivity" />
        <activity android:name=".DatesMentorActivity" />
        <activity android:name=".AddDateActivity" />
        <activity android:name=".MentorCategoriesActivity" />
        <activity android:name=".PaymentMethodActivity" />
        <activity android:name=".EditUserProfileActivity" />
        <activity android:name=".DetailsMentorActivity"></activity>
    </application>

</manifest>