<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.egcoders.technologysolution.netclub"
    android:versionCode="3"
    android:versionName="1.2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.egcoders.technologysolution.netclub.MainActivity"
            android:theme="@style/MyAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.egcoders.technologysolution.netclub.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name="com.egcoders.technologysolution.netclub.RegisterFirstPageActivity" />
        <activity android:name="com.egcoders.technologysolution.netclub.RegisterSecondPageActivity" />
        <activity android:name="com.egcoders.technologysolution.netclub.CategoriesActivity" />
        <activity android:name="com.egcoders.technologysolution.netclub.MentorDatesActivity" />
        <activity android:name="com.egcoders.technologysolution.netclub.AddMentorActivity" />
        <activity android:name="com.egcoders.technologysolution.netclub.MoreDetailsMentorActivity" />
        <activity android:name="com.egcoders.technologysolution.netclub.DatesMentorActivity" />
        <activity android:name="com.egcoders.technologysolution.netclub.AddDateActivity" />
        <activity android:name="com.egcoders.technologysolution.netclub.MentorCategoriesActivity" />
        <activity android:name="com.egcoders.technologysolution.netclub.PaymentMethodActivity" />
        <activity android:name="com.egcoders.technologysolution.netclub.EditUserProfileActivity" />
        <activity android:name="com.egcoders.technologysolution.netclub.DetailsMentorActivity"></activity>
    </application>

</manifest>